.emp-dashboard-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.emp-dashboard-right {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0rem !important;
}

.emp-dashboard-card {
    margin-top: 3rem !important;
    color: #260b85;
    margin-bottom: 0rem !important;
}   

.emp-dashboard-right-details {
    width: max-content;
    align-self: center;
    margin: 0 auto;
}

.emp-dashboard-right-details .emp-dashboard-right-p {
    width: initial;
    justify-content: space-around;
    margin: 0rem auto;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align: left;
    align-self: center;
    font-size: 1rem;
}

.emp-dashboard-right-section {
    display: inline;
    margin: 2rem;
}

.emp-dashboard-right-a {
    color: black;
}

.team-div {
    width: 25rem;
    text-align: left;
    background-color: rgb(194, 190, 190);
    border-radius: 1rem;
    padding-left: 1.7rem;
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
}

.team-name {
    color: black;
    font-weight: 600;
    margin: 0rem;
    padding: 0rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

.team-detail {
    font-size: 0.9rem;
    margin: 0rem;
    padding: 0rem;
    padding-bottom: 0.5rem;
}

.team-button {
    width: 6rem;
    margin: 1rem auto;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1rem;
}

.post-header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emp-dashboard-post-h1 {
    font-size: 3rem;
}

.emp-dashboard-post-button {
    height: 3.5rem;
    padding: 0.5rem;
    margin: 2.5rem;
}

.emp-job-post {
    color: black;
    text-align: left;
}

.emp-job-post h3 {
    position: relative;
    width: 100%;
    text-decoration: underline;
    font-size: 2rem;
    padding: 0rem;
    margin: 1rem;
}

.emp-job-post section {
    display: inline;
    margin: 1rem;
}

.emp-job-post p {
    margin: 0rem;
    margin-left: 1rem;
}

.emp-job-div {
    display: flex;
    flex-direction: row;
    border: black solid 1.8px;
    margin: 1.5rem;
    border-radius: 2rem;
    justify-content: space-between;
}

.emp-job-post-button {
    padding-top: 3rem;
    margin: 1.5rem;
    width: 40%;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
}

.emp-dashboard-right-team-head {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 1rem;
    justify-content: space-between;
    height: fit-content;
}

.emp-dashboard-right-team-head span {
    margin-top: 1.5rem;
}

@media (max-width: 789px) {
    .emp-dashboard-card {
        width: 90% !important;
    }

    .emp-dashboard-container {
        flex-direction: column;
    }

    .team-div {
        width: 80%;
        margin-left: 2rem;
    }

    .emp-dashboard-right-team-head {
        margin: 5% auto;
        display: flex;
        width: inherit;
        justify-content: space-between;
    }

    .team-button {
        width: 10rem;
    }

    .emp-dashboard-right-team-head span {
        margin-top: 0rem;
    }

    .emp-dashboard-right-p {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 0 auto;
    }

    .emp-dashboard-right-details {
        display: flex;
        flex-direction: column;
        width: 20rem;
        text-align: left;
        margin-left: 3.5rem;
    }

    .emp-dashboard-right-details p {
        width: 18rem !important;
        justify-content: left !important;
    }

    .emp-dashboard-right-section {
        width: fit-content;
        padding: 0.3rem;
        margin: 0.5rem;
        display: flex;
        justify-content: space-evenly;
    }

    .emp-job-post-button {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    .emp-job-post-button span {
        margin: 0.3rem;
    }

    .emp-job-post h3 {
        font-size: 1.7rem;
        width: 200%;
    }

    .emp-job-post {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .emp-job-post section {
        padding: 0rem;
        margin: 0.3rem;
        margin-left: 1rem;
    }

    .emp-job-post p {
        width: 150%;
        margin-bottom: 0.5rem;
    }

    .emp-dashboard-right-h1 {
        font-size: 130%;
        margin: 0 auto;
    }

    .emp-dashboard-post-h1 {
        font-size: 250%;
        margin-top: 20;
    }

    .emp-job-div {
        margin: 0 auto;
        margin-bottom: 7%;
    }

    
}