.team-modal-div {
    font-size: 1.3rem;
    margin: 0.5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-modal-div label {
    width: 12rem;
}

.team-modal-div input {
    height: 1.3rem;
    width: 10rem;
}

.team-modal-div textarea {
    height: 4rem;
    width: 12rem;
    scrollbar-width: 0rem;
}

.team-modal-div select {
    width: 10.5rem;
}

#permission-div section {
    background: gray;
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    width: "fit-content";
}

#permission-div {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-modal-div section button {
    background: none;
    padding: 0rem;
    border: 0px;
    margin: 0.3rem;
}

.delete-modal-div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 5vw;
    width: max-content;
    font-size: 1.3rem;
}

.delete-modal-p {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.delete-p {
    font-size: 1.5rem;
    color: red;
    font-weight: 600;
    margin-left: 5vw;
}

.application-list-modal {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.application-list-individual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.application-list-individual section {
    font-size: 1.3rem;
    font-weight: 500;
}

.application-list-individual span {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.inbox-compose-div {
    margin: 0.5rem 5rem;
    display: flex;
    flex-direction: column;
}

.inbox-compose-div label {
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    background: white;
    position: relative;
    top: 1vh;
    left: 1vh;
    width: fit-content;
}

.inbox-compose-div input {
    width: 95%;
    height: 1.5rem;
}

@media (max-width: 789px) {
    .team-modal-div {
        margin: 0.3rem 2rem;
    }

    .inbox-compose-div {
        margin: 0.3rem 2rem;
    }
}