.card {
    position: relative;
    z-index: 5;
    margin: 1rem auto;
    padding: 1rem;
    height: fit-content;
    justify-content: space-around;
    text-align: center;
    border: 1px solid;
}

.right {
    position: absolute !important;
    right: 4rem !important;
    top: 3rem;
}

.left {
    position: absolute !important;
    left: 4rem !important;
    top: 7rem;
}

.elevation--partial {
    box-shadow: 5px 10px #b6b4b4;
}

.elevation--complete {
    box-shadow: 5px 5px 5px 5px #b6b4b4;
}

.black {
    background: black;
}

.white {
    background: white;
}

.small {
    width: 20rem;
}

.medium {
    width: 27rem;
}

.large {
    width: 57rem;
}

.card-div {
    display: flex;
    flex-direction: column;
}