.applied-button {
    font-size: 1.5rem;
    height: fit-content;
    width: 8rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#applied-name {
    margin: 0.3rem;
    font-size: 1.5rem;
}

.applied-detail {
    margin: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.emp-dashboard-right-section {
    display: flex;
    flex-direction: row;
}

.skr-dashboard-right-p {
    text-align: left !important;
    margin: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
}

.seeker-profile-skill {
    margin-top: -0.5rem;
    background: gray;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 2rem;
}

.post-header-div {
    width: inherit;
    display: flex;
    justify-content: center;
}

.post-header-div input {
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 25rem;
    height: 2rem;
    margin: 2rem;
}

.skr-job-post {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin-right: 2rem;
    justify-content: space-between;
}

.skr-job {
    display: flex;
    flex-direction: row;
    border: black solid 1.8px;
    margin: 1.5rem;
    border-radius: 2rem;
}

.skr-job-div {
    padding-bottom: 1rem;
    padding-left: 0rem;
    width: 70%;
    display: flex;
    flex-direction: column !important;
}

.skr-job-div-1 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.skr-job-div-p {
    padding: 0rem;
    margin: 0.3rem;
}

@media (max-width: 789px) {
    .skr-job-div-p {
        width: 60% !important;
    }
}