.applied-button {
    font-size: 1.5rem;
    height: fit-content;
    width: 8rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#applied-name {
    margin: 0.3rem;
    font-size: 1.5rem;
}

.applied-detail {
    margin: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.emp-dashboard-right-section {
    display: flex;
    flex-direction: row;
}

.skr-dashboard-right-p {
    text-align: left !important;
    margin: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: row;
}

.seeker-profile-skill {
    margin-top: -0.5rem;
    background: gray;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 2rem;
}

.post-header-div {
    width: inherit;
    display: flex;
    justify-content: center;
}

.post-header-div input {
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 25rem;
    height: 2rem;
    margin: 2rem;
}

.skr-job-post {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin-right: 2rem;
    justify-content: space-between;
}

.skr-job {
    display: flex;
    flex-direction: row;
    border: black solid 1.8px;
    margin: 1.5rem;
    border-radius: 2rem;
}

.skr-job-div {
    padding-bottom: 1rem;
    padding-left: 0rem;
    width: 80%;
    display: flex;
    flex-direction: column !important;
}

.skr-job-div-1 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.skr-job-div-p {
    padding: 0rem;
    margin: 0rem;
}

.team-div {
    display: flex;
    flex-direction: column;
}

.team-div > div {
    display: flex;
    flex-direction: row;
}

.post-header-div-button {
    position: relative;
    cursor: pointer;
    right: 5rem;
    top: 0.4rem;
    background: none;
    border: none;
    font-size: 1.5rem;
}
 /*  FILTERS CSS  */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skr-filter-div {
    padding: 0rem 4rem;
    border: 1px solid gray;
    box-shadow: 3px 5px gray;
    animation: fade 0.5s 1 backwards;
}

.filter-input-div {
    width: fit-content;
}

.filter-input-div input {
    width: 5vw;
    margin-right: 0.5vw;
    height: 1.3rem;
    border-radius: 10%;
    border: 1px black solid;
}

.filter-input-div section {
    margin-right: 0.5vw;
}

.filter-skills {
    margin: 1rem 0rem;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.filter-skills input {
    width: 10rem;
    height: 1.3rem;
    margin: 0.5rem 1rem;
}

.filter-skills section {
    margin: 0.5rem 0rem;
}

.filter-skills span {
    padding: 0.2rem;
}

.filter-skills-form {
    display: flex;
    flex-direction: column;
}

.skill-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(233, 220, 220);
    border: 1px black solid;
    border-radius: 3rem;
    height: fit-content;
    margin: 0.2rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

.skill-section span {
    width: 1rem;
}

.filter-list-skills {
    font-size: 0.8rem;
    margin: 0rem 1rem;
    width: inherit;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 3rem;
}

@media (max-width: 750px) {
    .post-header-div input {
        width: 40vw;
    }
}

@media (max-width: 550px) {
    .filter-list-skills {
        margin: 0rem -2rem;
    }

    .skr-job-div-p {
        width: 60% !important;
    }

    .post-header-div {
        width: 100%;
    }

    .post-header-div form {
        display: flex;
        flex-direction: row;
    }

    .post-header-div form Button {
        height: 50%;
        margin-top: 5%;
    }

    .post-header-div input {
        width: 100%;
    }

    .skr-job {
        flex-direction: column;
        padding-left: 10%;
    }

    #applied-name {
        font-size: 120%;
    }

    .skr-job-post span {
        margin: 20%;
    }

    .post-header-div-button {
        top: 0.6rem;
    }
}