.auth-body {
    display: flex;
    flex-direction: column;
}

.auth-body-form {
    width: inherit;
}

.auth-form-div {
    position: relative;
    height: 3rem;
    width: 17rem;
}

.auth-form-input {
    height: 1.8rem;
    width: 14rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.auth-form-label {
    position: absolute;
    top: 0.3rem;
    left: 2rem;
    cursor: text;
    background: white;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

#auth-email:focus ~ #auth-email-label,
#auth-email:not(:placeholder-shown)#auth-email:not(:focus) ~ #auth-email-label {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    top: -0.5rem;
    left: 1.6rem;
    font-size: 0.8rem;
}

#auth-password:focus ~ #auth-password-label,
#auth-password:not(:placeholder-shown)#auth-password:not(:focus) ~ #auth-password-label {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    top: -0.5rem;
    left: 1.6rem;
    font-size: 0.8rem;
}

.auth-body-hr {
    margin: 1rem;
    margin-top: 2rem;
}

.auth-body-p {
    position: absolute;
    top: 15rem;
    left: 13.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
}

.auth-google {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#signup-button {
    border: none;
    background: white;
    font-size: 1rem;
    color: rgb(77, 36, 124);
}

#signup-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.auth-modal-div {
    display: flex;
    justify-content: space-around;
}