.inbox-container {
    min-height: 78vh;;
}

.inbox-header {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between;
    margin: 1rem;
}

.inbox-header h1 {
    margin-left: 3rem;
    font-size: 4rem;
}

.inbox-header form {
    margin: 0 auto;
    margin-top: 3rem;  
}

.inbox-header form input {
    width: 30vw;
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    margin: 1rem;
}

.inbox-container ul li {
    width: inherit;
    margin: 1vw 4vw auto;
}

.inbox-message {
    background: rgb(194, 190, 190);
    width: 80vw;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.inbox-message h3 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inbox-message section {
    background: gray;
    width: 0.2rem;
    margin: 0.5rem;
}

.inbox-message p {
    color: #260b85;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inbox-compose-button {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    font-size: 1.3rem;
    color: white;
    background: #260b85;
    border: 1px solid #260b85;
}

.inbox-compose-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.inbox-compose-button:active {
    transform: scale(0.98);
}

@media (max-width: 800px) {
    .inbox-header {
        display: flex;
        flex-direction: column;
    }

    .inbox-header h1 {
        margin: 0 auto;
        font-size: 10vw !important;
    }

    .inbox-header form input {
        width: 50vw;
    }

    .inbox-message {
        flex-direction: column;
    }

    .inbox-message section {
        display: none;
    }

    .inbox-message h3 {
        width: fit-content;
    }
}